<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_with(model: @calendar_event, url: calendar_events_path, local: true) do |form| %>
        <div class="turbo-fame-tag">
          <div class="form-group">
            <strong><%= form.label :summary %></strong>
            <%= form.text_field :summary ,class: "form-control", placeholder: "title" %>
          </div>
          <div class="form-group pt-3">
            <strong> <%= form.label :description %></strong>
            <%= form.text_area :description ,class: "form-control", placeholder: "description" %>
          </div>
          <br>
          <div class="form-group">
            <%= form.label :start_time %>
            <%= form.text_field :start_time, class: 'form-control datetimepicker', data: { controller:  "flatpickr" } %>
          </div>
          <br>
          <div class="form-group">
            <%= form.label :end_time %>
            <%= form.text_field :end_time, class: 'form-control datetimepicker', data: { controller:  "flatpickr" } %>
          </div>

          <%= form.hidden_field :user_id, value: session[:user_id] %>
          <div class="actions my-4">
            <%= form.submit 'Submit', class: "btn btn-outline-success" %>
            <%= link_to 'Cancel', calendar_events_path, class: "btn btn-outline-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="mt-3 table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Summary</th>
          <th scope="col">Description</th>
          <th scope="col" class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @calendar_events.each do |event| %>
          <tr>
            <td><%= event.start_time.present? ? event.start_time.strftime('%d %b %Y at %I:%M%p') : 'N/A' %></td>
            <td><%= event.end_time.present? ? event.end_time.strftime('%d %b %Y at %I:%M%p') : 'N/A' %></td>
            <td><%= event.summary&.truncate(25) %></td>
            <td><%= event.description&.truncate(25) %></td>
            <td>
              <%= link_to "Edit", edit_calendar_event_path(event), class: "btn btn-success" %>
              <%= link_to "Delete", calendar_event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
